body{
    background: white;
}

 #divfondo {background-image: url("../img/bg.jpg"); height: 450px; background-size: cover; background-repeat: no-repeat;background-position: bottom; } 

 #carlosj {background-color: rgb(221, 214, 214); height: 250px; width: 750px; } 
 