<div class="container-sm mx-auto">
<hr class="hr hr-blurry"/>
  <h1><strong>Contact</strong></h1>
  <p class="py-3">Donec ullamcorper nulla non metus autctor fringila. Vestibulum id ligula porta felis eusimod somper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

  <div class= "d-flex justify-content-center">
  <div class="mb-3 row" id="formulario"> 
    
    <label for="inputYouremail" class="col-sm-3 col-form-label pt-2"><strong>Your E-mail</strong></label>
    <div class="col-sm-9 pt-2">
      <input type="youremail" class="form-control" id="inputYouremail" placeholder="Your email">
    </div>
    <label for="inputYourmessage" class="col-sm-3 col-form-label"><strong>Your message</strong></label>
    <div class="col-sm-9">
      <textarea class="form-control" id="inputYourmessage" rows="4" cols="40" placeholder="Please enter your message here..."></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </div>
</div>