<!-- your html code here -->
<div class="container-fluid mx-auto">
    <h1 class="display-6" class="mx-auto">
        The first heading
        <small class="text-muted">will catch your eye</small>
    </h1>
    <img src="/website/assets/img/1.jpg" style="height: 250px; width: 250px;" class="img-fluid rounded-circle float-end" alt="Walter White"/>
    <p class="text-start class="mx-auto"">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. Praesent commodo cursus cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
  </div>