<!-- your html code here -->
<hr class="hr hr-blurry" />
<div class="container-sm mx-auto">
    <img src="/website/assets/img/1.jpg" style="height: 250px; width: 250px;" class="img-fluid rounded-circle float-end" alt="Walter White"/>
    <h1 class="display-6" class="mx-auto">
        The First Heading
        <small class="text-muted">Will Catch Your Eye</small>
    </h1>
    <div class="w-50 p-3">
        <p class="text-start">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. Praesent commodo cursus cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
  </div>