<!-- your html code here -->
<!-- <div class="border-top my-3"></div> -->
<!-- <hr class="mt-5 mb-5"> -->
<hr class="hr hr-blurry" />
<!-- <div class="divider py-1 bg-dark"></div> -->

<div class="container-sm mx-auto">
    <h1 class="display-6" class="mx-auto">
        Portfolio
    </h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod sempter. Praesent commodo cursus cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
    </div>
</div>