
<div class="container-sm mx-auto">
  <hr class="hr hr-blurry" />
  <div class= " d-flex justify-content-between">
        <img
         src="https://github.com/SPaganoDoval/Building-a-website-collaborative/blob/develop/website/assets/img/2.jpg?raw=true" 
         class="img-fluid rounded-circle" 
         alt="">

         <div class="display-inline" >
          <h1 class="display-6" class="mx-auto">The second Heading is
          <small class="text-muted"> pretty cool too.</small></h1> 
         <p class="text-start">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelersisque nisl consectetur.Fusce dapibus, tellus ac cursus commodo.</h4>
          </p>
        </div>
  </div>
</div>


  